<html>
	<head>
		<title>Add Peon</title>
	</head>
	<body>
		<h1>Add Peon</h1>
		<table>
			<tr>
				<td colspan="2"><input id="name" placeholder="Name" /></td>
			</tr>
			<tr>
				<td><input id="startLat" placeholder="Start Latitude" /></td>
				<td><input id="startLong" placeholder="Start Longitude" /></td>
			</tr>
			<tr>
				<td><input id="destinationLat" placeholder="Destination Latitude" /></td>
				<td><input id="destinationLong" placeholder="Destination Longitude" /></td>
			</tr>
			
		</table>
	</body>
</html>